<!DOCTYPE html>
<html>
    <head>
        <title>스톤 관리자 패널</title>

        <link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard-dynamic-subset.min.css" />
        <link rel="stylesheet" href="../../static/css/guild_users.css" />
        <script src="../../static/js/guild_users.js"></script>
    </head>

    <body>
        <header>
            <img class="icon" src="../../static/home1.jpg">

            <button class="menu selected">
                유저 관리
            </button>

            <button class="menu" onclick="navigate('commands')">
                명령어 관리
            </button>

            {% if is_admin %}
            <button class="menu" onclick="navigate('panel')">
                개발자 패널
            </button>
            {% endif %}

            <div class="account-container">
                <img class="account-avatar" src="https://cdn.discordapp.com/avatars/{{ user_id }}/{{ avatar }}.png">
                <span class="account">{{ display_name }}</span>
                <button class="logout-button" onclick="logout()">로그아웃</button>
            </div>
        </header>

        <main>
            <div class="guild-container">
                {% if guild.icon %}
                    <img class="guild-icon" src="{{ guild.icon.url }}">
                {% else %}
                    <svg class="guild-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                        <path fill-rule="evenodd" d="M4.5 9.75a6 6 0 0 1 11.573-2.226 3.75 3.75 0 0 1 4.133 4.303A4.5 4.5 0 0 1 18 20.25H6.75a5.25 5.25 0 0 1-2.23-10.004 6.072 6.072 0 0 1-.02-.496Z" clip-rule="evenodd" />
                    </svg>
                {% endif %}

                <span class="guild-name">{{ guild.name }}</span>
            </div>

            <div class="container">
                <div class="item-keys">
                    <span>
                        닉네임
                    </span>
                    <span class="two-blocks">
                        ID
                    </span>
                    <span>
                        경고 횟수
                    </span>
                </div>
                <ul>
                    {% for user in users %}
                    <li>
                        <span>
                            {% if user.display_name is none or user.username is none %}
                                (없음)
                            {% else %}
                                {{ user.display_name }} ({{ user.username }})
                            {% endif %}
                        </span>
                        <span class="two-blocks">
                            {{ user.id }}
                        </span>
                        <span>
                            {{ user.warn_count }} 회
                        </span>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </main>
    </body>
</html>