<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <title>Code Stone 고객지원</title>
        <link rel="stylesheet" href="../../static/css/support.css">
        <script src="../../static/js/support.js"></script>
    </head>
    <body>
        <div class="header">
            <h1>Code Stone 고객지원</h1>
            <a href="http://pf.kakao.com/_xnqQaG" target="_blank" title="카카오톡 채널">
            <img src="https://t1.kakaocdn.net/kakaocorp/kakaocorp/admin/5f9c58c2017800001.png" alt="카카오톡 아이콘">
            </a>
            <p style="font-size: 17.5px;"><b>Tel</b>&nbsp;010 - 7362 - 6675</p>
            <p style="font-size: 17.5px;"><b>Mail</b>&nbsp;support@stonecl.kr</p>
            <button class='my_btn' onclick="window.location.href = '/';">home</button>
        </div>
    </body>
</html>